@tailwind base;
@tailwind components;
@tailwind utilities;

#logout::before {
  content: '';
  position: absolute;
  top: -20px;
  right: 28px;
  border-width: 10px 10px 10px 10px;
  border-color: transparent transparent white transparent;
}


a.active div {
  @apply bg-blue-500 bg-opacity-20
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-500
}



#tableContainer::-webkit-scrollbar:horizontal {
  height: 4px;
}

#tableContainer::-webkit-scrollbar-track:horizontal {
  height: 4px;
}

#tableContainer::-webkit-scrollbar-thumb:horizontal {
  @apply  bg-[#D8D8D8]
}